:root {
  background-color: #333;
  color: white;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  flex-direction: column;
  display: flex;
}

button {
  -moz-appearance: none;
  white-space: nowrap;
  background-image: none;
  border-width: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
}

#deck {
  flex-grow: 1;
  display: flex;
}

#deck > .tabbrowser:not(.selected) {
  display: none;
}

#urlbar {
  padding: 8px 0;
  display: flex;
}

/* Light 2px line bellow buttons and input */
#input-url, #urlbar > button {
  background-repeat: no-repeat;
  background-size: 100% 2px;
  background-position: bottom left;
  background-image: linear-gradient(to top, rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  padding-bottom: 2px;
}

#input-url {
  padding: 0 0 0 10px;
  line-height: 2rem;
  font-size: 1.2em;
  min-height: 2rem;
  flex-grow: 1;
  border-width: 0;
  border-radius: 0;
  -moz-appearance: none !important;
  background-color: white;
}

#input-url:invalid {
  box-shadow: none;
}

#input-url::-moz-placeholder {
  font-family: FontAwesome;
}

#urlbar.focus #input-url::-moz-placeholder {
  opacity: 0;
}

#urlbar > button {
  display: none;
  min-width: 2rem;
  line-height: 1rem;
  font-size: 1rem;
  color: #333;
}

#urlbar > .button-history {
  background: none !important;
  color: white;
  min-width: 2.5rem;
}

#button-go {
  background-color: #BEF202;
}

#button-stop {
  background-color: #E94E77;
}

#button-reload {
  background-color: #C6E5D9;
}

#urlbar.canGoForward > #button-forward,
#urlbar.canGoBack > #button-back,
#urlbar.focus > #button-go,
#urlbar.loading:not(.focus) > #button-stop,
#urlbar:not(.loading):not(.focus) > #button-reload {
  display: flex;
}

#urlbar:not(.canGoBack).canGoForward > #button-back {
  display: flex;
  color: #888;
  pointer-events: none;
}

#urlbar:not(.canGoForward):not(.canGoBack) {
  padding-left: 4px;
}

#urlbar > #button-menu {
  background-color: transparent;
  color: white;
  display: flex;
  background-image: none;
}

iframe {
  display: flex;
  border-width: 0;
  flex-grow: 1;
  background-color: white;
}

iframe:not(.selected) {
  display: none;
}

/* Tabstip */

#tabstrip {
  max-width: 100%;
  display: flex;
  padding: 4px 0 4px 4px;
}

#tabs {
  display: flex;
  flex-grow: 1;
  max-width: 100%;
  overflow: scroll;
}

#button-addtab {
  height: 36px;
  width: 36px;
  background-color: transparent;
  color: white;
  font-size: 18px;
}

.button-tab {
  height: 36px;
  width: 36px;
  background-size: 100% 100%;
  background-color: white;
  margin-right: 4px;
  border: 1px solid white;
  border-bottom: 2px solid white;
}

.button-tab.selected {
  border-bottom-color: #F06;
}
